<div id="applications-page">
  <div class="mdl-grid portfolio-max-width">
      <h1>Applications</h1>
      <p>Applications is such a strong word, actually they are snippets of code that we've thrown together in order to solve issues we find all the time. </p>
      <card class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card" 
          [moreLink]="'/projects/poo-calculator/index.html'" 
          [moreLinkCaption]="'Click to start the timer'" 
          [title]="'Poo Calculator'" 
          [image]="'./assets/images/projects/stopwatch.png'">Sometime we poo, ever wondered how much you are paid for a particular deposit? </card>
      <card class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card" 
          [moreLink]="'/projects/lego.html'" 
          [moreLinkCaption]="'Click to sort some lego'" 
          [title]="'Lego Sorter'" 
          [image]="'./assets/images/projects/lego.png'">To maximise your brain capacity when thinking about a complex task, you should occupy your lower brain with a menial task</card>
      <card class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card" 
          [moreLink]="'/projects/colour-calc/index.html'" 
          [moreLinkCaption]="'Go to the colour calculator'" 
          [title]="'Colour Calculator'" 
          [image]="'./assets/images/projects/colours.png'">Ever developing and need to convert RGB to Hex ... yeah us too! </card>
      <card class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card" 
          [moreLink]="'/projects/binary-image-convert/index.html'" 
          [moreLinkCaption]="'Convert an image'" 
          [title]="'Binary Image Converter'" 
          [image]="'./assets/images/projects/binary.png'">After developing an android parking app we needed to be able to quickly convert to see if the images were actually correct</card>
  </div>
</div>