<h2>About CHUNKYDIGITS Ltd.</h2>
<p>We started in 2012 to start providing IT services to the public and private sectors, the goal however has always been
    to create software and help people by doing this. </p>
<p>The small group of IT professionals that have been touted out to do development for various different industries
    using a range of different technologies are working towards a number of different projects that will break that time
    old link between time and revenue. </p>
<p>In 2018, we expanded our opperations to make the most of all of our employee's talents and expertise. This is when
    the Legal arm of CHUNKYDIGITS was created. This was to provide fair legal advice and representation for clients that
    require it.
</p>
<p>Moving forward we are looking to take on larger projects, bringing more people into the fold and create additional
    revenue streams from other places that have untapped potential. </p>

<h3>Contact Details</h3>
<p><strong>Address:</strong> 77 Ravenswood Crescent, Harrow, Middlesex, HA2 9JL</p>
<p><strong>Phone:</strong> +44 (0)7790 755 582</p>
<p><strong>Email:</strong> <a href="mailto:andy@chunkydigits.com">andy@chunkydigits.com</a></p>

<h3>Company Details</h3>
<p><strong>Company Number:</strong> <a href="https://beta.companieshouse.gov.uk/company/08196289">08196289</a></p>