<h2>Development</h2>
<p>In all of our development we practice an agile way of working. This allows us to provide the best value for money and
    more reactive development environment for your needs.</p>
<p>As well as this, we are well versed in TDD and BDD ways of working and will endeavour to involve the end user as much
    as possible in design decisions all the way through to sign off. This helps to ensure quality for the people that
    matter, the people using it. </p>
<p>Our development team usually engages on projects using a combination of C#, Angular, SQL, .NET Core and Azure
    technologies, but as with everything else, we look for the most suitable technology to build the customer's product
    on. We try to do things right, even though that doesn't necessarily make them easy. </p>