<h2>Andy Brown - Full Stack Developer
</h2>
<h3>C#, .NET (Core)m, Angular, SQL, Azure, Cosmos, ServiceBus, MicroService
    Architecture</h3>
<p>Has been developing professionally since 2010, when he took on a project to bespoke a system for the MoD as part of
    the Atlas Project. Since then he has worked in a variety of settings, learning new technolgies and practices along
    the way to help him become a very well rounded developer.</p>
<p>Having worked in different industries, Andy thinks that one of the most important parts of development is "to gain an
    understanding into what the business is trying to achieve and the current practices to best learn how to serve their
    needs going forward". In doing this, you mind find that you can simplify a lot of what a company is trying to do,
    rather than simply doing what they say. </p>

<h3>Complete History</h3>
<ul>
    <li>November 2018 - April 2019: <strong>LoxamPAD (Contract)</strong>: Lead Full Stack Developer</li>
    <li>April 2018 - November 2018: <strong>Engie (Contract)</strong>: Front End Developer</li>
    <li>October 2017 - April 2018: <strong>FMG (Contract)</strong>: Front End Developer</li>
    <li>August 2016 - October 2017: <strong>NHS Digital (Contract)</strong>: .Net Developer</li>
    <li>February 2015 - August 2016: <strong>Intelligent Data Systems (Contract)</strong>: Lead Web Developer</li>
    <li>October 2014 - February 2015: <strong>CoMade (Contract)</strong>: Web Developer</li>
    <li>April 2014 - October 2014: <strong>Leeds Teaching Hospital (Contract)</strong>: Web Developer</li>
    <li>April 2013 - April 2014: <strong>AtOne Consulting (Contract)</strong>: Web Developer</li>
    <li>October 2012 - April 2013: <strong>ATLAS Consortium (Contract)</strong>: CA Service Catalog Developer</li>
    <li>June 2010 - October 2012: <strong>Saville Consulting</strong>: .NET Web Developer</li>
    <li>March 2007 - June 2010: <strong>EDS / HP Enterprise Services</strong>: Migration Analyst/ CA Service Catalog
        Developer</li>
    <li>June 2006 - March 2007: <strong>Euro Car Parts</strong> - 3rd Line Support Technician</li>
</ul>