<app-page id="about-page" [title]="'About'" [image]="'about.png'" alt="">
  <p>Here at
    <company-name></company-name> we love to develop solutions to problems. </p>
  <p>In the past, whether it's been developing a car parking management system that uses Android devices to track
    parking violations or insurance claim management, we find the fun in reducing any problem to a simple set of rules
    and provide a digitised solution to it. </p>
  <p>Whether providing single develops or a team of developers, project managers and testers - no problem is too big to
    solve</p>
</app-page>