<div class="container" style="padding-top:0.8rem;">
    <div class="header">

        <div class="menu" (click)="showMenuRows()">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="logo">
            <img alt="{{siteContent.title}}" src="../../assets/images/logo4.png">
        </div>
        <div class="home">
            <a routerLink="">
                <img alt="home" src="../../assets/images/home.png" />
            </a>
        </div>
    </div>
    <div class="row spacer">
    </div>
    <div class="row" *ngIf="showMenu">
        <!-- <div class="col-sm">
            <app-tile [siteContent]="siteContent.content[8]"></app-tile>
        </div> -->
        <div class="col-sm">
            <app-tile [siteContent]="siteContent.content[6]"></app-tile>
        </div>
        <div class="col-sm">
            <app-tile [siteContent]="siteContent.content[1]"></app-tile>
        </div>
    </div>
    <div class="row" *ngIf="showMenu">
        <div class="col-sm">
            <app-tile [siteContent]="siteContent.content[7]"></app-tile>
        </div>
        <div class="col-sm">
            <app-tile [siteContent]="siteContent.content[0]"></app-tile>
        </div>
        <!-- <div class="col-sm">
            <app-tile [siteContent]="siteContent.content[4]"></app-tile>
        </div> -->
    </div>
    <div class="row" *ngIf="showMenu">
        <div class="col-sm">
            <app-tile [siteContent]="siteContent.content[5]"></app-tile>
        </div>
        <div class="col-sm">
            <app-tile [siteContent]="siteContent.content[2]"></app-tile>
        </div>
        <!-- <div class="col-sm">
            <app-tile [siteContent]="siteContent.content[3]"></app-tile>
        </div> -->
    </div>

    <div class="row">
        <div class="site-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>