/* You can add global styles to this file, and also import other style files */
@font-face {
	font-family: eurostile;
	src: url('../src/assets/fonts/Eurosti.TTF');
}

html, body, footer { 
    font-family: Calibri;
    background-color: #0072aa;
}