<div class="mdl-grid portfolio-max-width">
  <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
      <div class="mdl-card__media">
          <img class="article-image" src="assets/images/case-studies.png" border="0" alt="">
      </div>
      <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Case Studies</h2>
      </div>
      <div class="mdl-card__supporting-text">
          Click through here to learn more about previous projects that have been carried out by CHUNKYDIGITS developers. 
      </div>
      <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="case-studies">Read more</a>
      </div>
  </div>
  <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
    <div class="mdl-card__media">
        <img class="article-image" src="assets/images/about.png" border="0" alt="">
    </div>
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">About</h2>
    </div>
    <div class="mdl-card__supporting-text">
        Click to learn more about what we do and what we are about and how we can help 
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="about">Read more</a>
    </div>
</div>
</div>
