<h2>Welcome to CHUNKYDIGITS Web Development, Computer and Legal Services. </h2>

<p>If you have any requirement for IT related services or need legal representation don't hesitate to drop us a line. We
    are always in the market for innovative ideas and feel that we are perfectly placed to guide anyone with that killer
    app idea to market. </p>


<p>CHUNKYDIGITS is the culmination of going freelance and looking for a creative outlook for me and some fellow
    developers that I have met along the journey gaining experience.</p>

<p>Resources at our disposal include graphic designers, web developers and database consultants – all of which are
    available for hire individually or as a service included in a competitively priced package deal.</p>

<p>So please take a look around and if you like what you see then please contact us through the About page.</p>